<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=2, shrink-to-fit=no">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title></title>
    <link href="https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          crossorigin="anonymous">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="app/app.js" type="module"></script>


    <style>

        .container {
            margin-top: 1rem;
            max-width: 40rem;
        }

        .table {
            margin-top: 2rem;
        }

        .table td:nth-child(3) {
            width: 5rem;
        }

    </style>

</head>

<body class="bg-light">

<div class="container" id="container">

    <div class="alert alert-danger" role="alert" v-if="errors.length">
        <div v-for="error in errors">
            {{ error }}
        </div>
    </div>

    <form>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text"
                   v-model="newPost.title"
                   id="title" class="form-control">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input type="text"
                   v-model="newPost.text"
                   id="text" class="form-control">
        </div>

        <button type="button" @click="addPost(newPost)"
                class="btn btn-primary">Add</button>

    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Text</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="post in posts">
            <td>{{ post.title }}</td>
            <td>{{ post.text }}</td>
            <td><button type="button"
                    @click="() => deletePost(post.id)"
                    class="btn btn-danger">Delete</button></td>
        </tr>
        </tbody>
    </table>
</div>
</body>




</html>
